device {
  background-color: rgba(0,0,0, 0.5);
  width: 100%;
  float: left;
  padding:5px;
  synth {
    margin-top:15px;
    float: left;
    width: 100%;
    background-color: rgba(255,0,0,0.3);
  }
}
filter {
  padding:5px;
  float: left;
  width: 100%;
  background-color: rgba(0,255,0,0.3);
}
master-gain {
  padding:5px;
  float: left;
  width: 100%;
  background-color: rgba(0,150,150,0.3);
}