<div class="stack-horizontally">
    <div class="control-block stack-vertically">
        <span class="label">Wave form</span>
        <select ng-model="instrument.type">
            <option value="sine">Sine</option>
            <option value="square">Square</option>
            <option value="triangle">Triangle</option>
        </select>
    </div>
    <div class="control-block stack-vertically">
        <span class="label">Gain(Volume)</span>
        <div slider class="slider-outter" ng-model="instrument.params.gain" min="0" max="1"></div>
    </div>
</div>
<div class="stack-horizontally">
    <div class="control-block stack-vertically">
        <span class="label">Wave form</span>
        <select ng-model="instrument.type">
            <option value="sine">Sine</option>
            <option value="square">Square</option>
            <option value="triangle">Triangle</option>
        </select>
    </div>
    <div class="control-block stack-vertically">
        <span class="label">Gain(Volume)</span>
        <div slider class="slider-outter" ng-model="instrument.params.gain" min="0" max="1"></div>
    </div>
</div>
<div class="stack-horizontally">
    <div class="control-block stack-vertically">
        <span class="label">Wave form</span>
        <select ng-model="instrument.type">
            <option value="sine">Sine</option>
            <option value="square">Square</option>
            <option value="triangle">Triangle</option>
        </select>
    </div>
    <div class="control-block stack-vertically">
        <span class="label">Gain(Volume)</span>
        <div slider class="slider-outter" ng-model="instrument.params.gain" min="0" max="1"></div>
    </div>
</div>
<div class="stack-horizontally">
    <div class="control-block stack-vertically">
        <span class="label">Wave form</span>
        <select ng-model="instrument.type">
            <option value="sine">Sine</option>
            <option value="square">Square</option>
            <option value="triangle">Triangle</option>
        </select>
    </div>
    <div class="control-block stack-vertically">
        <span class="label">Gain(Volume)</span>
        <div slider class="slider-outter" ng-model="instrument.params.gain" min="0" max="1"></div>
    </div>
</div>
<div class="stack-horizontally add-effect" add-effect></div>