<div class="control-block stack-vertically">
    <span class="label">Chorus - Tuna</span>
    <span class="label">Rate</span>
    <input type="range" min="0.01" max="8" step="0.01" ng-model="effect.rate">
    <span class="label">Feedback</span>
    <input type="range" min="0" max="1" step="0.1" ng-model="effect.feedback">
    <!--<span class="label">Delay</span>-->
    <!--<input type="range" min="0" max="1" step="0.00001" ng-model="effect.delay">-->
    <!--<span class="label">Bypass</span>-->
    <!--<input type="range" min="0" max="1" step="1" ng-model="effect.bypass">-->
</div>