
    <div class="device-params col-sm-3">
        <span class="fa fa-wrench settings-icon" ng-click="openSettings()"></span>
        <div class="device-name">
            <span>{{device.name}}</span>
        </div>
        <div class="toggle-device-state" toggle-device-state></div>
        <div class="toggle-keyboard-input" toggle-keyboard-input></div>
        <div slider class="slider-outter" ng-model="params.gain" min="0" max="1"></div>
        <!--<div ng-click="this.changeNote()">Change note</div>-->
        <!--<button ng-click="openSettings()">settings</button>-->
    </div>

    <div class="note-preview col-sm-9" notes-preview>
        <div class="note-wrapper">
            <div class="note" style="top:10px;left:10px;"></div>
            <div class="note" style="top:10px;left: 160px;"></div>
            <div class="note" style="top:10px;left: 430px;"></div>
            <div class="note" style="top: 80px;left: 300px; width:100px;"></div>
            <div class="note" style="top: 90px;left: 225px;"></div>
            <div class="note" style="top: 53px;left: 21px;"></div>
        </div>
    </div>
    
