<div class="control-block stack-vertically">
    <span class="label">Reverb</span>
    <div class="label label-info">
        Impulses are downloaded from: <br/>
        <a href="http://www.openairlib.net/auralizationdb/content/st-andrews-church">St Andrew's Church, by Audiolab, University of York
            Damian T. Murphy</a><br/>
        <a href="http://www.openairlib.net/auralizationdb/content/underground-car-park">Underground Car Park, by www.twitter.com/chrisunderdown</a><br/>
    </div>
    <span class="label">Choose impulse: </span>
    <select ng-model="effect.impulse" ng-options="i.name for i in effect.params.impulses">
    </select>
    <span class="label">Dry/Wet</span>
    <input type="range" min="0" max="1" step="0.1" ng-model="effect.drywet">
</div>